<mtapp:setting
    id="api_client_id"
    label="API Client ID"
    hint="<a href='http://soundcloud.com/you/apps' target='_blank'>Get an API account</a>"
    show_hint="1"
	>
    <input type="text" name="api_client_id" id="api_client_id" value="<mt:var name="api_client_id" escape="html">" size="50" />
</mtapp:setting>
